


/**
 * Rest all the margins, paddings and use border-box model.
 * Apply margins only in one direction. Preferable is margin-bottom.
 *
 **/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #000;
}

a::selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #fff;
    outline: 0;
}

::-moz-selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #000;
}

/**
 * HEADINGS
 * --------
 *
 **/

h1, h2, h3 {
    color: $beta-font-color;
    word-spacing: 1px;
}

h1 {
	_margin-top: 0;
    _margin-bottom: .5em;
	position: relative;

}

h2 {
    margin-bottom: 0em;

    a {
        color: #346;
        position: relative;
		background-image: none;
        border-bottom: none;
        text-decoration: none;

        &:hover {
            color: $brand-color;
            text-decoration: none;
			background-image: none;

            svg {
                fill: $brand-color;
            }

        }
    }
}

h4 {
    font-size: 1em;
}

/**
 * ANCHORS
 * -------
 *
 **/

a {
    color: $brand-color;
    text-decoration: none;
    position: relative;
    text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    background: none;
    background-image: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0) 1px,currentColor 2px,currentColor 2px,rgba(0,0,0,0) 2px);


}
    a:hover, a:focus {
        color: #000;
        outline: none;
        background-image: linear-gradient(to top, rgba(0,0,0,0),rgba(0,0,0,0) 1px,#173061 2px,#173061 2px,rgba(0,0,0,0) 2px);

    }

a:not([href]) {
    color: $gamma-font-color;

    &:hover {
		_background-color: #f3f5f8;;
        text-decoration: none;
    }
}

/**
 * Site specific styles
 *
 **/


body {
	font-family: 'sans', sans-serif;
    color: $alpha-font-color;
    text-shadow: 0 1px white;
	font-weight: 400;
}



/**
 * ARTICLE
 * -------
 *
 **/

article {
    margin: auto;
    max-width: $breakpoint;
    padding: 5em 1em;

    &:not(:last-of-type) {
        padding-bottom: 0;
    }
}

time {
    letter-spacing: .5px;
    font-size: 90%;
    color: $gamma-font-color;
    margin-bottom: 1.5em;
    display: block;
}

nav {
    overflow: hidden;
    margin: auto;
    max-width: $breakpoint;

    a {
        padding: .25em 0em .5em 0;
        _background: #f3f5f8;
        border-bottom: none;
		background-image: none;

		&:hover {
			background-color: transparent;
			color: #346;
            background-image: none;
		}
    }

    a:not([href]):hover {
        color: $gamma-font-color;
    }
}

ul,
ol {
    padding-left: 1em;
}

li {
    list-style-type: circle;
}

figure {
    margin-bottom: 1.5em;
    margin-right: -1em;
    margin-left: -1em;

    & > img {
        border:none;
    }
}


strong {
    color: #346;
}

img {
    max-width: 100%;
    margin-bottom: 0em;
    border-bottom: none;
    border: 1px solid #ddd;
    display: block;
}

figcaption {

    word-spacing: 1px;
    padding: 1em 1.5em 1em 1em;
    background: rgba(238, 242, 245, 1);
}

blockquote {
    background: rgba(238, 242, 245, 1);
    padding: 1em;

    margin-bottom: 1.5em;
    border-left: .25em solid $beta-font-color;
    border-right: none;
    margin-left: -1em; margin-right: -1em;

	code {
		background-color: #fff;
	}

	p {
		margin-bottom: 0;
	}
}

p {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

p:last-child {
    margin-bottom: 0;
}

code {
    font-family: 'mono', Consolas, Monaco, 'Andale Mono', monospace;
    padding: 3px 5px;
    white-space: normal;
    background: #eee;
    text-shadow: 0 1px white;
    font-size: 18px;
    color: #346;
}

pre {
    -webkit-overflow-scrolling: touch;
    line-height: 1.75;
    margin: 1rem auto 1.5rem;
    overflow-x: auto;
    padding: 1rem;
    white-space: pre;
    width: 100%;
    word-wrap: normal;
    padding-right: 1em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #eee;
    border: 1px solid #ddd;
}

pre, code {
    border-radius: 3px;
}

pre code {
    background: none;
    text-shadow: 0 1px white;
    display: block;
    margin: 0;
    outline: none;
    padding: 0;
    padding-right: 1em;
    white-space: pre;
    word-wrap: normal;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.75;

	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
}

iframe {
    max-width: 100%;
    margin-bottom: 1em;
}

small {
    color: $gamma-font-color;
}


header, header > * {
    outline: 0px solid red !important;
}

section {
    outline: 0px solid blue !important;
}

section * {
    outline: 0px solid green !important;
}
