


/**
 * Rest all the margins, paddings and use border-box model.
 * Apply margins only in one direction. Preferable is margin-bottom.
 *
 **/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #000;
}

a::selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #fff;
    outline: 0;
}

::-moz-selection {
    background: lighten($brand-color, 20%); /* WebKit/Blink Browsers */
    text-shadow: none;
    color: #000;
}

/**
 * HEADINGS
 * --------
 *
 **/

h1, h2, h3 {
    color: #346;
    word-spacing: 1px;
}

h1 {
	_margin-top: 0;
    _margin-bottom: .5em;
	position: relative;

}

h2 {
    margin-bottom: 2.5em;

    a {
        color: #346;
        position: relative;
		background-image: none;
        border-bottom: none;
        text-decoration: none;

        &:hover {
            color: $brand-color;
            text-decoration: none;
			background-image: none;
        }
    }
}

h4 {
    font-size: 1em;
}

/**
 * ANCHORS
 * -------
 *
 **/

a {
    color: $brand-color;
    text-decoration: underline;

	transition: all 0.3s ease-in-out;
}
    a:hover, a:focus {
		_background-color: #fd4;
		_text-decoration: underline;
		transition: all 0.3s ease-in-out;
		color: #000;
		outline: none;
    }

a:not([href]) {
    color: #9ab;

    &:hover {
		_background-color: #f3f5f8;;
        text-decoration: none;
    }
}

/**
 * Site specific styles
 *
 **/


body {
    _background: #f3f5f8;
	font-family: 'sans', sans-serif;
    color: #6f7c82;
    text-shadow: 0 1px white;
	font-weight: 400;
}



/**
 * ARTICLE
 * -------
 *
 **/

article {
    margin: auto;
    max-width: $breakpoint;

    border-right: 0px solid #eee;
    padding: 5em 1em;

    &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }

    &:first-child {
        _border-top: 1px solid #eee;
    }
}

time {
    letter-spacing: .5px;
    font-size: 90%;
    _display: block;
    color: #9ab;
}

nav {
    overflow: hidden;
    margin: auto;
    max-width: $breakpoint;

    a {
        padding: .25em 0em .5em 0;
        _background: #f3f5f8;
        border-bottom: none;
		background-image: none;

		&:hover {
			background-color: transparent;
			color: #346;
		}
    }

    a:not([href]):hover {
        color: #9ab;
    }
}

ul,
ol {
    padding-left: 1em;
}

li {
    list-style-type: circle;
}

figure {
    margin-bottom: 1.5em;
    margin-right: -1em;
    margin-left: -1em;
}


strong {
    color: #346;
}

img {
    max-width: 100%;
    margin-bottom: 0em;
    border-bottom: none;
    border: 1px solid #ddd;
    display: block;
}

figcaption {
    color: #333;
    word-spacing: 1px;
    padding: 1em 1.5em 1em 1em;
    background-color: #fafafa;
}

blockquote {
    background: #fafafa;
    padding: 1em;
    margin-right: -1em;
    margin-bottom: 1.5em;
    border-left: .25em solid black;
    border-right: none;
    @media screen and (max-width: 800px) { margin-left: -1em; margin-right: -1em; }

	code {
		background-color: #fff;
	}

	p {
		margin-bottom: 0;
	}
}

p:last-child {
    margin-bottom: 0;
}

code {
    font-family: 'mono', Consolas, Monaco, 'Andale Mono', monospace;
    padding: 3px 5px;
    white-space: normal;
    background: #eee;
    text-shadow: 0 1px white;
    font-size: 18px;
    color: #346;
}

pre {
    -webkit-overflow-scrolling: touch;
    line-height: 1.75;
    margin: 1rem auto 1.5rem;
    overflow-x: auto;
    padding: 1rem;
    white-space: pre;
    width: 100%;
    word-wrap: normal;
    padding-right: 1em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #eee;
    border: 1px solid #ddd;
}

pre, code {
    border-radius: 3px;
}

pre code {
    background: none;
    text-shadow: 0 1px white;
    display: block;
    margin: 0;
    outline: none;
    padding: 0;
    padding-right: 1em;
    white-space: pre;
    word-wrap: normal;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.75;

	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
}

iframe {
    max-width: 100%;
    margin-bottom: 1em;
}
