
@import "vars";
@import "base";

@import "libs/pygments";

/**
 * ------
 * HEADER
 * ------
 *
 **/

.header {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 0em;
    position: relative;

    &-title {
        margin-bottom: .5em;
    }
    &-titleLink {
        color: #F3F5F7;
        text-decoration: none;
        border-bottom: none;
        letter-spacing: 1px;
    }
    &-titleLink:hover {
        color: $brand-color;
        border-bottom: none;
    }
    &-subTitle {
        color: #9ab;
        margin-left: .15em;
        letter-spacing: .5px;
        margin-bottom: 0;
        position: relative;

        &::before {
            content: '';
            border: 2px solid $brand-color;
            display: block;
            width: 3em;
            margin-bottom: .5em;
        }
    }
    &-about {
        text-decoration: none;
        border-bottom: none;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-left: .5em;
        top: .5em;
        vertical-align: baseline;
        transform: translateY(10px);

        &:hover {
            text-decoration: none;
            border-bottom: none;
            cursor: pointer;
        }
    }
    &-aboutImg{
        fill: $brand-color;
        transition: all 0.1s ease-in-out 0;

        &:hover {
            transition: all 0.1s ease-in-out 0;
            fill: white;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        outline: 1px solid red;
        top: 0;
        background-color: #2C3031;
        z-index: -1;

        margin: 0 -999em;
        padding: 0 999em;
    }
}

/**
 * -------
 * ARTICLE
 * -------
 *
 **/

.post {
    background-color: white;
    max-width: 800px;
    padding: 5em 1em 3.5em 0;
    margin: 0 auto;

    &-title {}
    &-titleLink {
        text-decoration: none;
        text-transform: uppercase;
        color: #333;
        letter-spacing: 1px;
        position: relative;
        border-bottom: none;
        line-height: 2;

        &:hover {
            color: #0a5;
            text-decoration: none;
            border-bottom: none;
        }
        &:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: #0a5;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0;
        }
    }
    &-pubDate {
        font-size: .7em;
        color: #9ab;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        display: block;
    }
    &-excerpt {
        font-size: 1.1em;
        color: #666;
    }
    &-readMore {}
    &-backToHome {
        &::before {
            content: '‹ ';
        }
    }

    &:first-of-type {
        padding-top: 5em;
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }
}

.link {
    &-title {
        margin-top: 0;
        margin-bottom: 2.5em;
    }
    &-titleLink {
        margin-top: 0;
        margin-bottom: 2.5em;
        text-transform: uppercase;
        border-bottom: 2px solid #444;
        text-decoration: none;
        color: #333;
        letter-spacing: .5px;
        line-height: 2;

        &:hover {
            color: #0a5;
            border-bottom: 2px solid #0a5;
            text-decoration: none;
        }
    }
}

/**
 * ------
 * ADPACK
 * ------
 *
 **/

#adpacks {
    outline: 1px solid #EEE;
    line-height: 1.5;
    margin: 0 auto;
    background-color: #F8FAFF;
    display: block;
    padding: 15px;
    max-width: 350px;
    min-width: 160px;
    min-height: 130px;
    font-size: 14px;
    position: absolute;
    transition: all .25s ease 0;
    right: 0;
    top: -.5em;
    text-align: left;

    &:hover {
        transition: all .25s ease;
        outline: 1px solid #ddd;
        background-color: #F3F6FF;
    }
}

.adpacks-img {
    display: inline;
    float: right;
    border-bottom: none;

    img {
        margin-bottom: 0;
        width: auto;
    }

    &:hover {
        border-bottom: none !important;
    }
}

.adpacks-text {
    text-decoration: none;
    color: #778095;
    display: block;
    margin-right: 145px;
    vertical-align: top;
    line-height: 1.5;
    border-bottom: none;
    text-align: left;

    &:hover {
        color: #333 !important;
        border-bottom: none !important;
    }
}

.adpacks-poweredby {
    color: #0a5;
    padding-left: 0px;
    display: block;
    margin-top: 3px;
    text-align: left;
    margin-right: 145px;
    position: relative;
    border-bottom: none;

    &:hover {
        color: #0a0 !important;
        border-bottom: none !important;
    }
}

/**
 * ----------
 * PAGINATION
 * ----------
 *
 **/

.pagination {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    text-align: right;

    &-prev {
        display: inline-block;
        float: left;
        background-color: whiteSmoke;
        padding: 0 .5em;
        margin-left: 0;
    }
    &-prevLink {

    }
    &-prevLink--disabled {
        color: #999;
        border-bottom: none;

        &:hover {
            color: #999;
            pointer: none;
            border-bottom: none;
        }
    }

    &-next {
        display: inline-block;
        background-color: whiteSmoke;
        padding: 0 .5em;
    }
    &-nextLink {}
    &-nextLink--disabled {
        color: #999;
        border-bottom: none;

        &:hover {
            color: #999;
            pointer: none;
            border-bottom: none;
        }
    }
}

/**
 * ------
 * FOOTER
 * ------
 *
 **/

.footer {
    border-top: 1px solid #eee;
    background-color: #2C3031;
    color: #9ab;
    padding-bottom: 1.5em;

    a {
        border-bottom: none;

        &:hover {
            color: white;
            border-bottom: 1px solid white;
        }
    }

    &-search {
        width: 100%;
        margin: 0 auto;
        display: block;
        font-size: 1.5em;
        font-family: inherit;
        text-align: center;
        border: 0;
        outline: 0;
        padding: 1.5em 1em;
        line-height: 1.5;
        text-overflow: ellipsis;
        color: #333;
    }
    &-about {
        max-width: 800px;
        width: 100%;
        margin: 3.5em auto 2.5em;
        display: block;
    }
    &-details {
        width: 100%;
        max-width: 800px;
        margin: 0 auto 3.5em;
        position: relative;
    }
    &-social {
        width: 100%;
        text-align: left;
        display: block;

        margin: 2.5em auto;
        max-width: 800px;

        &Icon {
            width: 33.333333%;
            list-style: none;
            text-align: left;
            margin-bottom: 1.5em;
            float: left;
            margin-left: 0;
            background-color: #3c4243;
            border: 2px solid #2C3031;
            padding: .5em 1em .5em;

            &:nth-child(1) {
                text-align: left;
                border-left: none;
            }
            &:nth-child(2) {
                text-align: center;
                border-left: none;
                border-right: none;
            }
            &:nth-child(3) {
                text-align: right;
                border-right: none;
            }

            &Link {
                line-height: 1;
                display: inline-block;

                text-transform: capitalize;

                &:hover {
                    border-bottom: none !important;
                }
            }
        }
    }
    &-copyright {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    &-copyrightYear {
        &::after {
            content: ' – Pankaj Parashar.';
        }
    }
    &-backToTop {
        float: right;
        line-height: 1;
        margin-top: .5em;

        &:hover {
            color: white;
            border-bottom: 1px solid white;
            cursor: pointer;
        }
    }
}

.sub-text {
    display: block;
    color: #9ab;
    font-style: normal;
    padding: 0 .1em;
    line-height: 1.5;
}

.social__icon--link:hover,
.social__icon--link:hover ~ .sub-text {
    transition: .5s;
    opacity: 1;
    color: #c03;
}

.email, .rss, .sitemap {
    color: #9ab;

    &:hover {
        border-bottom: none !important;
    }
}

.sitemap {
    margin-left: 1em;
}

.availability {
    color: #c04;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
}

/**
 * -------------
 * MEDIA QUERIES
 * -------------
 *
 **/

@media screen and (max-width: 839px) {
    .post, 
    .footer-about,
    .footer-details,
    .footer-copyright,
    .footer-social,
    .header {
        padding-left: 1em;
        padding-right: 1em;
    }
    figcaption {
        line-height: 1.75;
    }
    #adpacks {
        display: block;
        position: relative;
        margin-top: 2.5em;
        margin-bottom: -1em;
        text-align: left;
    }
    .footer-details {
        text-align: center;
    }
    .header-about {
        margin-top: -.25em;
    }
}