---
layout: default

---

{% for post in paginator.posts %}
    <article itemscope itemtype="http://schema.org/Article">
        {% if post.type == 'post' %}
            <h2 class="post__title"><a class="post__title--link" href="{{ post.url }}" itemprop="name">{{ post.title }}</a></h2>
            <small class="post__date" itemprop="datePublished" content="{{ post.date }}">{{ post.date | date: "%A, %B %d, %Y" }}</small>
            <small class="post__time">{{ post.content | number_of_words | append: '.0' | divided_by:180 }}</small>
            {% if post.excerpt %}
                <p class="post__excerpt">{{ post.excerpt }}</p>
            {% endif %}
            <p><a href="{{ post.url }}">Continue reading »</a></p>
        {% elsif post.type == 'link' %}
            <h2 class="link__title"><a class="link__title--link" href="{{ post.link }}">{{ post.title }}</a></h2>
            {{ post.content }}
       {% endif %}
    </article>
{% endfor %}


<ul class="footer__pagination">
    <li class="footer__pagination--links">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="/">‹ Prev</a>
            {% else %}
                <a href="{{ paginator.previous_page_path }}">‹ Prev</a>
            {% endif %}
        {% else %}
            <a class="footer__pagination--disabled">‹ Prev</a>
        {% endif %}
        /
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Next ›</a>
        {% else %}
            <a class="footer__pagination--disabled">Next ›</a>
        {% endif %}
    </li>
</ul>
