---
layout: default
title: Pankaj Parashar - Designer. Developer. Writer.
---

{% for post in paginator.posts %}
    <article itemtype="http://schema.org/Article" class="post">
        <time itemprop="datePublished" content='{{ post.date | date: "%d.%B.%Y" }}' class="post-pubDate">{{ post.date | date: "%d.%b.%Y" }}</time>
        {% if post.type == 'post' %}
            <h2 clas="post-title">
                <a class="post-titleLink" href="{{ post.url }}" itemprop="name" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <p><a href="{{ post.url }}" class="post-readMore">Continue reading</a></p>
        {% elsif post.type == 'link' %}
            <h3 class="link-title">
                <a class="link-titleLink" href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
            </h3>
            {{ post.content }}
       {% endif %}
    </article>
{% endfor %}

<ul class="pagination">
    <li class="pagination-prev">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="/" class="pagination-prevLink" title="Previous">‹ Prev</a>
            {% else %}
                <a href="{{ paginator.previous_page_path }}" class="pagination-prevLink" title="Previous">‹ Prev</a>
            {% endif %}
        {% else %}
            <a class="pagination-prevLink--disabled" title="Previous">‹ Prev</a>
        {% endif %}
    </li>
    <li class="pagination-next">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="pagination-nextLink" title="Next">Next ›</a>
        {% else %}
            <a class="pagination-nextLink--disabled" title="Next">Next ›</a>
        {% endif %}
    </li>
</ul>
