<style media="screen">
    @media screen and (max-width: 800px) {
        .contact li { width: 100%; }
        .contact li:first-child { margin-bottom: 1.5em; }
    }
    @media screen and (min-width: 801px) {
        .contact li { width: 50%; }
    }
</style>

<ul style="margin: 0 auto 2.5em; max-width: 800px; outline: 0px solid red; padding-left: 1em; overflow: auto; padding-right: 1em;" class="contact">
    <li style="outline: 0px solid blue; list-style-type: none; float: left;">
        <dl style="margin-bottom: 0">
            <dt style="color: #9ab; line-height: 1;">Email</dt>
            <dd style="margin-bottom: 1em"><a href="mailto:email@pankajparashar.com" style="color: #666; border-bottom: none;">email@pankajparashar.com</a></dd>

            <dt style="color: #9ab; line-height: 1;">Twitter</dt>
            <dd style="margin-bottom: 1em"><a href="http://twitter.com/pankajparashar" style="color: #666; border-bottom: none;">@pankajparashar</a></dd>

            <dt style="color: #9ab; line-height: 1;">Github</dt>
            <dd style="margin-bottom: 0"><a href="http://github.com/pankajparashar" style="color: #666; border-bottom: none;">github.com/pankajparashar</a></dd>
        </dl>
    </li>
    <li style="outline: 0px solid blue; list-style-type: none; float: left;">

        <dt style="color: #9ab; line-height: 1;margin-bottom:1.5em;">Sponsored via <a href="#">Carbon Ads</a></dt>
        <script async type="text/javascript" src="//cdn.adpacks.com/adpacks.js?zoneid=1386&serve=C6SI42Y&placement=pankajparashar" id="_adpacks_js"></script>

    </li>
</ul>
