<footer style="background-color: rgba(238, 242, 245, 1); padding: 2.5em 0;     background-color: #282330;



    background-repeat: no-repeat;">
    <p style="margin: auto; max-width: 800px;padding:1em; text-align: center;">
        <span style="background-color: white;padding: 1em;
    opacity: .8;">©<script>document.write(new Date().getFullYear());</script> – <a role="button" onClick="window.scrollTo(0,0)" href="javascript:void(0)" style="cursor: pointer;">Back to top</a></span></p>
</footer>
