
<style media="screen">
    footer {
        margin: 0em auto 5em;
		max-width: 800px;
		border-left: 1px solid #eee;
        border-top: 1px solid #eee;
        padding: 3.5em 1em 3.5em 3.5em;
        position: relative;

    }

    .back-to-top {
        width: 5em;
position: absolute;
bottom: 0em;
left: -.9em;
outline: 0px solid red;
    background-color: #fff;    }
</style>

<footer>
    <a role="button" class="back-to-top" onClick="window.scrollTo(0,0)" href="javascript:void(0)" style="cursor: pointer; color: #4671fb; text-shadow: none; background-image: none">
    <svg width="35px" height="32px" viewBox="0 0 35 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="noun_149438_cc" sketch:type="MSLayerGroup" fill="#000000">
                <path d="M6.23926471,25.5829412 L28.7638235,25.5829412 L28.7638235,23.5241176 L6.23926471,23.5241176 L6.23926471,25.5829412 L6.23926471,25.5829412 Z M10.4052941,31.1376471 L24.5967647,31.1376471 L24.5967647,29.0788235 L10.4052941,29.0788235 L10.4052941,31.1376471 L10.4052941,31.1376471 Z M18.5283824,17.9704412 L18.5283824,0.773088235 L16.4695588,0.773088235 L16.4695588,17.9704412 L0.0648529412,17.9704412 L0.0648529412,20.0292647 L34.9361765,20.0292647 L34.9361765,17.9704412 L18.5283824,17.9704412 L18.5283824,17.9704412 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </svg>
</a>    <p>
        I don't care about attribution bro! It's all yours under <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a>.
        If you want to get in touch with me, then you can <a href="mailto:email@pankajparashar.com">drop an email</a> or <a href="https://twitter.com/pankajparashar">send a tweet</a>.
    </p>
</footer>


<style media="screen">
    footer a  {
        text-shadow: none;
    }
</style>
