<footer role="contentinfo" class="footer">

    <form action="http://google.com/search?q=" target="_blank" onsubmit="location.href = this.action + this.search.value + ' site:pankajparashar.com'; return false;" method="post">
        <input type="search" role="search" placeholder="Search this website + press enter..." autocomplete="off" class="footer-search" name="search">
    </form>       
        
    <div style="background-color:#e4e8ed">    
            
       
       <p>Sponsored via AdPacks <br><br>
        <script async type="text/javascript" src="//cdn.adpacks.com/adpacks.js?zoneid=1386&serve=C6SI42Y&placement=pankajparashar" id="_adpacks_js"></script>
        </p>

    </div>

        
    
       <div style="background-color:#F3F5F7">
       
       
        <p style="position:relative;padding-left:0em;margin-bottom:0">
            <span style="font-size:16px;text-transform:uppercase;letter-spacing:1px">Codepen &nbsp;&nbsp; Github &nbsp;&nbsp; Twitter</span>
<br>        
RSS Feed &nbsp;&nbsp;•&nbsp;&nbsp; Sitemap
       <br>
       email@pankajparashar.com
        <hr>
        <p>©2014 – Pankaj Parashar.</p>
    </div>
    
    
            
           
            
</footer>


<style>
    footer > div {width: 50%;padding: 3em; float: left;position: relative}
    footer > div > span a {background-image: none;color: #6F7C82;}
    footer > div > span {font-size: 16px;letter-spacing: 1px;}
    footer hr { border: 2px solid black;
display: block;
width: 3em;margin-left: 0;margin-bottom: .5em; margin-top: 2em;}
</style>