
<style media="screen">
	header {
		margin: 5em auto 0;
		padding: 0 1em 3.5em 3.5em;
		max-width: 800px;
		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	header img {
		border-radius: 100%;
		width: 4em;
		height: 4em;
		margin-left: -2em;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}

	header h1 {
		display: inline-block;
		margin-bottom: 1em;
		color: #346;
		letter-spacing: -.5px;
	}

	header a {
	}
</style>

<header>

		<img src="https://cdn-images-1.medium.com/fit/c/240/240/1*2y4U5nB-Y9sWZExF4D6LYg.jpeg" alt="Pankaj Parashar's Face">


	<p>
		Hi. I'm <strong>Pankaj Parashar</strong>, a 26yo frontend designer, web developer and writer from India.
		I <strong>make things</strong> for the web and <strong>write</strong> about them on my blog here.
	</p>
</header>
