<style media="screen">
	header {
		margin: 0em auto 0;
		padding: 5em 0;
	}
	@media screen and (max-width: 800px) {
		header {
			padding: 2em 1em;
			margin: 0;
		}

		header img {
			margin-right: 1em !important;
		}
	}
</style>

<header style="background-color: #6D21E8;">
	<div style="max-width: 800px; padding: 0em;margin:0 auto; text-shadow: none; color: white;">
		<a href="/"><img src="https://cdn-images-1.medium.com/fit/c/240/240/1*2y4U5nB-Y9sWZExF4D6LYg.jpeg" style="float: left; margin-right: 1.5em; margin-bottom: -.25em; margin-top: .2em; width: 7.5em; height: 7.5em; border-radius: 100%;"></a>
		<p>Hi. I'm <strong style="color: white;text-shadow: 0 1px black"><a href="https://twitter.com/pankajparashar" style="color:inherit;background-image: none;text-shadow:none;font-weight:bold;">Pankaj Parashar</a></strong>, 26yo frontend designer, developer &amp; writer from Mumbai, India. <br>I make things for the web and write about them on my blog here. <br><strong style="text-shadow:none;font-weight:bold;color:white;">Get in touch</strong> → <a href="mailto:email@pankajparashar.com" style="text-decoration:none; background-color:white; background-image: none; padding:2px 5px;">email@pankajparashar.com</a></p>
	</div>
</header>
