<header>
	<small>Designer. Developer. Writer.</small>
	<h1>Hi. there..</h1>
	<p>I'm Pankaj Parashar, 25yo frontend designer and web developer from Mumbai, India. I <a href="/projects" title="Projects">make things</a> for the web and write about them on <a href="/">my blog</a> here.</p>

		<ul class="info">
		<li>
			<dl>
				<dt>Email</dt>
				<dd><a href="mailto:email@pankajparashar.com">email@pankajparashar.com</a></dd>

				<dt>Twitter</dt>
				<dd><a href="http://twitter.com/pankajparashar">@pankajparashar</a></dd>

				<dt>Github</dt>
				<dd><a href="http://github.com/pankajparashar">github.com/pankajparashar</a></dd>
			</dl>
		</li>
		<li>
			<script async src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=pankajparashar" id="_carbonads_js"></script>
		</li>
	</ul>

</header>
