<style media="screen">
    nav {
        padding-top: 3.5em;
        border-left: 1px solid #eee;
    }
    div {
        background-color: #eee;
        overflow: hidden;
        padding: 1em 1em 1em;

    }
    nav a {
        float: right;
        padding: 0 1em;

    }
</style>

<nav>
    <div class="">


    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" style="padding-right:0">Older ›</a>
    {% else %}
        <a style="padding-right:0">Older ›</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">‹ Newer</a>
        {% else %}
            <a href="{{ paginator.previous_page_path }}">‹ Newer</a>
        {% endif %}
    {% else %}
            <a>‹ Newer</a>
    {% endif %}

</div>
</nav>
