<nav style="padding: 0 1em;">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/">‹ Newer</a>
        {% else %}
            <a href="{{ paginator.previous_page_path }}">‹ Newer</a>
        {% endif %}
    {% else %}
            <a>‹ Newer</a>
    {% endif %}


    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" style="float:right">Older ›</a>
    {% else %}
        <a style="float:right">Older ›</a>
    {% endif %}
</nav>
