<header role="banner">

    <h1 class="header__title"><a href="/" class="header__title--link" itemprop="author" itemscope itemtype="http://schema.org/Person">Pankaj Parashar</a></h1>
    <h2 class="header__subtitle">Developer. Designer. Writer.</h2>

    <a href="http://twitter.com/pankajparashar" class="header__follow">Follow @pankajparashar</a>

    <p class="header__desc">Hello. I am 24yrs old frontend designer and web developer from <a href="https://maps.google.com/maps?q=mumbai,+india">Mumbai, India</a>.</p>
    <p class="header__desc">Browse through some of my <a href="/projects">projects</a> or subscribe to the <a href="{{ site.url }}/feed.xml">RSS feed</a> of my blog here.</p>

    <hr class="header__hr">

    <p class="header__desc">Find me elsewhere,</p>
    <ul class="header__social">
        <li class="header__social--list"><a href="http://codepen.io/pankajparashar/" class="header__social--link">Codepen</a></li>
        <li class="header__social--list"><a href="http://github.com/pankajparashar" class="header__social--link">Github</a></li>
        <li class="header__social--list"><a href="mailto:email@pankajparashar.com" class="header__social--link">Email</a></li>
    </ul>

</header>
