<header role="banner">
    <h1 class="header__title">
        <a href="/" class="header__title--link" itemprop="author" itemscope itemtype="http://schema.org/Person">Pankaj Parashar</a>
    </h1>
    <h2 class="header__subtitle">Developer. Designer. Writer.</h2>

    <a href="http://twitter.com/pankajparashar" class="header__follow">Follow @pankajparashar<span class="header__follow--about fa fa-stack-exchange"></span></a>

    <!--<div id="fusion_ad">
        <span class="fusionentire">
            <a href="http://adn.fusionads.net/click?creative_id=811&amp;publisher_id=229&amp;1313146590559.2966" title="New Relic - Live the nerd life. Get the t-shirt." target="_top">
                <img src="http://adn.fusionads.net/creatives/retina/811-nerdlife.png" class="fusionimg" alt="New Relic - Live the nerd life. Get the t-shirt." border="0" height="100" width="130" style="width: 130px;">
            </a>
            <a href="http://adn.fusionads.net/click?creative_id=811&amp;publisher_id=229&amp;1313146590559.2966" class="fusiontext" title="New Relic - Live the nerd life. Get the t-shirt." target="_top">New Relic - Live the nerd life. Get the t-shirt.</a>
        </span>
        <a href="http://fusionads.net" class="powered">Ad by Fusion</a>
    </div>
    -->

    <p class="header__desc">Hello. I am 24yrs old frontend designer and web developer from <a href="https://maps.google.com/maps?q=mumbai,+india">Mumbai, India</a>.</p>
    <p class="header__desc">Browse through some of my <a href="/projects">side-projects</a> or read the articles on my <a href="/">blog</a> here.</p>

    <hr class="header__hr">

    <p class="header__desc">Get notified to read new articles,</p>
    <form accept-charset="UTF-8" action="https://www.sendicate.net/subscribe/2w3gcl" method="post" class="header__form" target="_blank">
        <input class="header__form--subscriber" name="email" type="email" placeholder="Enter your email address + press enter..." autocomplete="off">
        <a href="/feed.xml" class="header__form--submit"><i class="fa fa-rss"></i></a>
    </form>
</header>
