<header role="banner">
    <h1 class="header__title">Pankaj Parashar</h1>
    <p class="header__subtitle">Developer. Designer. Writer. 
        <a href="#about">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve" height="20px" width="20px">
                <path d="M49.5,5c-24.8,0-45,20.2-45,45c0,24.8,20.2,45,45,45c24.8,0,45-20.2,45-45C94.5,25.2,74.3,5,49.5,5z   M55.8,79.3H43.2V38.5h12.7V79.3z M49.4,33.5c-4,0-6.7-2.8-6.6-6.3c-0.1-3.7,2.6-6.4,6.7-6.4c4.1,0,6.7,2.8,6.8,6.4  C56.3,30.6,53.6,33.5,49.4,33.5z" fill="#0a5"/>
            </svg>   
        </a>
    </p>
    <p class="header__follow">Follow <br><a href="http://twitter.com/pankajparashar" class="header__follow--link">@pankajparashar</a></p>
</header>
