<!DOCTYPE html>
<html lang="en">
    {% include head.html %}      
    <body>
        {% include header.html %}
        
        <section role="main">
            <script async type="text/javascript" src="//cdn.adpacks.com/adpacks.js?zoneid=1386&serve=C6SI42Y&placement=pankajparashar" id="_adpacks_js"></script>
            {{ content }}
        </section>
        
        {% include footer.html %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/js/prism.js"></script>
        <script src="/js/jquery.hypher.js"></script>
        <script src="/js/en-us.js"></script>
        <script src="/js/script.js" async></script>
    </body>
</html>
