<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en">
   <head>
       {% include head.html %}
   </head>
    <body class="hyphenate">
        {% include header.html %}
        <section>
            <article>

                <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
                <time itemprop="datePublished" content="{{ page.date | date: '%d-%b-%Y' }}" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%b %d, %Y" }}</time>
                <p style="font-size:1.1em;color:#666">{{ page.excerpt }}</p>

                {{ content }}

                <a class="muut" href="https://muut.com/i/loading-comments/comments" type="dynamic">loading-comments</a>
                <script src="//cdn.muut.com/1/moot.min.js"></script>
            </article>
        </section>

        <script src="/js/script.js"></script>
        <script>
            !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
            arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
            d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
            insertBefore(d,q)}(window,document,'script','_gs');
            _gs('GSN-360111-P');
        </script>
        {% include footer.html %}

        <script type="text/javascript">
        var elem = document.getElementById("moot-logo");
        elem.parentElement.removeChild(elem);
        </script>

        <style media="screen">
        .is-commenting {
            font-size: 100%;
            max-width: 800px;
        }
        .muut-messaging.m-loaded, #moot-logo a {
            display: none !important;
        }

        #moot-logo{height: 0 !important;}
        </style>
    </body>
</html>
